@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: "Roboto", sans-serif;
}
input[type='search']:focus, input[type='number']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='password']:focus, textarea:focus, select:focus {
  box-shadow: 0 0 5px #ccc;
  opacity: 1 !important;
  outline: 0;
  color: #333;
  background-color: #fff;
}

.header-main {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}



  .container {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel .slide .legend{
    width: 40% !important;
    background-color: transparent !important;
    position:absolute !important;
    top: 25% !important;
    left: 0% !important;
    /* transform: translate(-50%, -50%) !important; */
    margin-left: 10% !important;
    text-align: left !important;
  }
  .text-white-i{
    color: white !important;
    opacity: 1 !important;
  }

  .carousel .carousel-status, .carousel .thumbs-wrapper {
    display: none;
  }

  
  .ant-card, .ant-card-body{
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
  }

  .ant-card-meta-title{
    color: #3a3a3a !important;
    font-size: 17.28px !important;
    font-weight: 700 !important;
    margin-bottom: 2px !important;
  }
  .ant-card-meta-description{
    margin-top: 2px !important;
    color: #c89979 !important;
    font-size: 14.4px !important;
    font-weight: 700 !important;
  }

  .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn, .ant-tabs .ant-tabs-tab:hover {
    color: #c89979 !important;
  }
  .ant-tabs .ant-tabs-ink-bar{
    background-color: #c89979 !important;
  }
  .ant-tabs .ant-tabs-tab{
    font-size: 24px;
    font-weight: 700;
  }

  .row-email{
    border-top: 1px solid #ccc;
  }
 .bg-fill  {
  background-position: 50% 50% !important;
 }

 /* Slider Track */
.ant-slider-track {
  background-color: #ababab !important;
}

/* Slider Handle */
.ant-slider-handle {
  border-color: #ababab !important;
}

/* Slider Rail */
.ant-slider-rail {
  background-color: #ddd !important;
}
.ant-slider .ant-slider-handle::after{
  background-color: #666666 !important;
  box-shadow: 0 0 0 2px #ababab !important;
}

.ant-collapse-expand-icon{
  display: none !important;
}

.ant-collapse-header{
  background: white !important; 
}
.ant-collapse-item, .ant-collapse{
  border: none !important;
}
.ant-collapse-content-box{
  padding: 0px !important;
}

